<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Django Tutorial">
    <meta name="author" content="Brown Esse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<style>
Body {
  font-family: Lucida Calligraphy, Helvetica, sans-serif;
  background-color: lightpurple;
}
button {
       background-color: #4CAF50;
       width: 100%;
        color: orange;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
         }
 form {
        border: 3px solid #f1f1f1;
    }
 input[type=text], input[type=password] {
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid green;
        box-sizing: border-box;
    }
 button:hover {
        opacity: 0.6;
    }
  .cancelbtn {
        width: auto;
        padding: 10px 18px;
        margin: 10px 5px;
    }


 .container {
        padding: 20px;
        background-color: lightgreen;
    }
</style>
    <h1>Login Details</h1>

    <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
        <button type="submit">Log In</button>

    </form>


</body>
</html>