<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Django Tutorial">
    <meta name="author" content="Brown Esse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Goal</title>
</head>
<body>
     <h1>Add New Goal</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Save">

    </form>


</body>
</html>