<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Django Tutorial">
    <meta name="author" content="Brown Esse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'addgoal' %}">Add Goal</a>

    <p>Logged in user: {{ request.user.username }}</p>
    {% if messages %}
        {% for message in messages %}
            <div class=" alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<style>
    table, td, th {
  border: 1px solid black;
}

table {
  width: 50%;
  border-collapse: collapse;
}
</style>
<table>
    <tr>
        <th>User</th>
        <th>Weekly Goal</th>
        <th>Daily Goal</th>
        <th>Done Goal</th>
        <th>Verify Goal</th>
    </tr>
    {% for u in user %}
        <tr>
            <td>{{ u }}</td>
            <td>
                {% for w in related_weekly_goal %}
                    {% if w.user == u%}
                        {{ w }}, goal id = {{ w.goal_id }}  <br />
                        <a href="{% url 'movegoal' goal_id=w.goal_id %} ">Move Goal</a>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for d in related_daily_goal %}
                    {% if d.user == u%}
                        {{ d }}, goal id = {{ d.goal_id }} <br />
                        <a href="{% url 'movegoal' goal_id=d.goal_id %} ">Move Goal</a>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for x in related_done_goal %}
                    {% if x.user == u%}
                        {{ x }}, goal id = {{ x.goal_id }} <br />
                        <a href="{% url 'movegoal' goal_id=x.goal_id %} ">Move Goal</a>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for v in related_verify_goal %}
                    {% if v.user == u%}
                        {{ v }}, goal id = {{v.goal_id}} <br />
                        <a href="{% url 'movegoal' goal_id=v.goal_id  %} ">Move Goal</a>
                    {% endif %}
                {% endfor %}
            </td>

        </tr>
    {% endfor %}
</table>

</body>
</html>