<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move Goal</title>
</head>
<body>
     <h1>Move Goals</h1>
     <p>Logged in user: {{request.user}} is a {{request.user.groups.all.0}}</p>
<form action="" method="post">
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
            {% endfor %}
    {% endif %}
     {% csrf_token %}
     {{ form.as_p }} <br />
     {% if form.errors %}
         {{ error }}
     {% endif %}
     <input type="submit" value="Submit">

<p>Click the "Submit" button </p>
</form>


</body>
</html>